html, body {
   height:100%;
   margin: 0;
   padding: 0;
   border: none;
   /*text-align: center;*/
}

body
{
    font-family: helvetica, "lucinda grande",arial,sans-serif;
    font-size: 13px;
    color: #333333;
    background: #e9e9e9;
}

#intro {
  height:100%;
  width: 100%;
  position: absolute;
  background: rgba(0,0,0,0.5);
  z-index: 3;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
}

#introBorder {
  height: 400px;
  width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -303px;
  border-style: dashed;
  border-width: 1;
  border-color: gray;
}

#introBox {
  width: 100%;
  height: 100%;
  background: #e9e9e9;
  text-align: center;
  padding-top: 5px;
}

#introServicesSelected {
  width: 296px;
  height: 106px;
  margin: 10px auto 0 auto;
}
#introServicesSelected div,img{
  float: left;
}

#introServicesSelected div{
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 1;
  border-color: gray;
}

#leftService {
  margin: 0 10px 0 0;
}

#serviceArrow {
  margin-top: 20px;
}

#rightService {
  margin: 0 0 0 10px;
}

#introServices {
  width: 464px;
  height: 100px;
  margin: 20px auto 20px auto; 
}

.serviceIcon {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 5px 0 5px;
  border-style: solid;
  border-width: 1;
  border-color: gray;
  background: lightblue;
  /*position: absolute;*/
  /*cursor: hand;*/
}

#goButton {
  background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%,#2981e4), color-stop(100%,#4ba3f6)); /* Chrome,Safari4+ */
  /*display: inline-block;*/
  /*padding: 5px 10px 6px;*/
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  /*cursor: pointer;*/
  width: 100px;
  height: 40px;
  margin: 0px auto 0px auto;
  text-align: center;
  position: relative;
}

#goText {
  position: relative;
  top: 13px;
  /*position: relative;*/
  /*margin: 0 auto 0 auto;*/
  /*margin-top: 7px;*/
  color: white;
}

#container {
   min-height: 100%;
   width: 100%;
   position: absolute;
   overflow: auto;
}

#topSection {
  margin: 5px 0 5px 0;
  width: 100%;
  height: 80px;
  position: absolute;
}

#logo, #logo2 {
  /*position: absolute;*/

  background: black;
  margin: 0px auto 0px auto;

  width: 400px;
  height: 80px;
}

#services {
  position: absolute;
  top: 5px;
  right: 50px;
}

.divService {
  float: left;
  border-style: solid;
  border-width: 1px;
  margin-right: 10px;
}

.serviceBg {
  width: 40px;
  height: 40px;
  float: left;
  vertical-align: center;
}

.serviceText {
  float: left;
  /*height: 40px;*/
  width: 80px;
  padding: 10px 0 0 5px;
  vertical-align: center;
}

#topCenter {
    padding-top: 5px;
    width: 435px;
    height: 80px;
    margin: 0px auto;
    color: #333;
}

#middle {
  clear: both;
  padding-top: 5px;
  /*width: 1140px;*/
  overflow: auto;
  margin: 90px auto 0 auto;
  color: #333;
  text-align: center;

  padding-bottom: 30px;   /* Height of the footer */
}

.midItem {
    position: relative;
    background: #ffffff;
    border-width:2px 1px;
    border-style:solid;
    border-color:#babcbf;
    /*width: 50%;*/
    /*float: left;*/
    /*margin-left: 50px;*/
    /*margin-right: 50px;*/
    border-radius: 5px;
}

.middleDivWrapper {
  width: 50%;
  float: left;
}

#divLeft {
    /*padding: 10px;*/
    margin-left: 5px;
    margin-right: 50px;
}

#divRight {
    margin-left: 50px;
    margin-right: 5px;
    /*padding: 10px;*/
}

#footer {
    /*clear: both;*/
    background: gray;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;   /* Height of the footer */
}

#divButtonSync {
  clear: both;
  position:fixed;
  width:100%;
  top:0;
  margin-top:160px;
  text-align: center;
}

#syncText {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  color: gray;
}

#tableLeftWrapper {
  width: 567px;
}

#tableRightWrapper {
  width: 567px;
}

#tableLeft {
  margin: 0 auto;
  width: 540px;
  height: auto;
}

#tableRight {
  margin: 0 auto;
  width: 540px;
  height: auto;
}

#divGoogle {
    margin: 20px 0 20px 0;
}

#divFacebook {
    /*margin: 20px 0 20px 0;*/
}

.tableRow {
  position: relative;
  float: left;
  margin: 10px;
  text-align: left;
  overflow: hidden;
  width: 160px;
  height: 160px;
}

.tableRowImg {
  width: 160px; 
  height:160px; 
  position: absolute;
  left: 0px;
  top: 0px;
}


.topItem {
    margin: auto;
    background: #ffffff;
    border-width:2px 1px;
    border-style:solid;
    border-color:#babcbf;
    text-align: center;
    width: 210px;
    height: 70px;
    border-radius: 6px;
}

.labelbg {
  z-index: 2;
  width: 160px;
  height: 40px;
  background: rgba(0,0,0,0.6);
  position: absolute;
  left: 0px;
  top: 120px;
}

.tableRowLabel {
  z-index: 2;
  color:#fff;
  font-size:10pt;
  position: relative;
  left: 5px;
  top: 2px;
}

.tableHeader {
  background: #333;
  height: 30px;
  color: #fff;
  padding-top: 5px;
  font-size: 18px;
  /*font-weight: bold;*/
  border-radius: 6 6 0 0;
  text-shadow: 0px 0px 1px #999;
}

.loading {
    display: none;
    position: absolute;
    top: 55px;
    margin-left: -16px;
}