html, body {
     margin: 0;
     padding: 0;
     border: none;
}

body {
     font-family: "Helvetica Neue", "lucinda grande",arial,sans-serif;
     font-size: 13px;
     color: #333;
     background: #e9e9e9;
}

.wrapper {
     -webkit-transform: translate3d(0, 0, 0);
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
}

#intro {
     height: 100%;
     width: 100%;
     position: absolute;
     background: rgba(0,0,0,0.8);
     z-index: 3;
     opacity: 0;
     -moz-opacity: 0;
     filter: alpha(opacity=0);
}

#introBorder {
     height: 490px;
     width: 600px;
     position: absolute;
     left: 50%;
     top: 50%;
     margin: -245px 0 0 -300px;
}

#introBox {
     width: 100%;
     height: 100%;
     background: #e9e9e9;
     text-align: center;
}

#introServicesSelectedWrapper {
     width: 400px;
     height: 160px;
     margin: 0 auto;
}

#introServicesSelectedBox {
     width: 400px;
     height: 140px;
}

.introServicesSelected {
     position: relative;
     margin: 0 auto;
     width: 296px;
     height: 106px;
}

.introServicesSelected div, img {
     float: left;
}

.service {
     width: 100px;
     height: 100px;
     border: 3px solid gray;
}

#leftService {
     margin: 0 10px 0 0;
}

#rightService {
     margin: 0 0 0 10px;
}

#serviceArrow {
     margin-top: 20px;
}

#introServicesLogin {
     width: 356px;
     height: 20px;
     margin: 5px auto;
}

#leftServiceLogin {
     float: left;
     width: 166px;
     height: 40px;
}

#rightServiceLogin {
     float: right;
     width: 166px;
     height: 40px;
}

#introServicesWrapper {
     width: 400px;
}

#introServices {
     width: 232px;
     height: 100px;
     margin: 0 auto;
}

.serviceIcon {
     float: left;
     width: 100px;
     height: 100px;
     margin: 0 5px;
}

#facebookIcon {
     width: 90px;
     height: 90px;
     border-radius: 8px;
     margin: 5px 0 0 5px;
     box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
}

#goButton {
    background: #2981e4; /* for non-css3 browsers */

     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2981e4', endColorstr='#4ba3f6'); /* for IE */
     background: -webkit-gradient(linear, left top, left bottom, from(#2981e4), to(#4ba3f6)); /* for webkit browsers */
     background: -moz-linear-gradient(top,  #2981e4,  #4ba3f6); /* for firefox 3.6+ */ 
     color: #fff;
     text-decoration: none;
     border-radius: 6px;
     box-shadow: 0 1px 3px rgba(0,0,0,0.6);
     text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
     border-bottom: 1px solid rgba(0,0,0,0.25);
     width: 100px;
     height: 40px;
     margin: 0 auto;
     text-align: center;
     position: relative;
     cursor: pointer;
}

#goText {
     position: relative;
     font-size: 12pt;
     color: white;
     -moz-user-select: none;
     -khtml-user-select: none;
     user-select: none;
     cursor: pointer;
}

#messageNotSupported {
     position: absolute;
     font-weight: 300;
     width: 400px;
     font-size: 16px;
     margin-top: 38px;
}

#about {
     position: absolute;
     left: 15px;
     top: 10px;
     width: 165px;
     height: 55px;
     font-weight: 300;
     font-size: 10pt;
     line-height: 25px;
     padding: 10px;
}

#container {
     min-height: 100%;
     width: 100%;
     position: absolute;
     overflow: auto;
}

#topSection {
     margin: 5px 0;
     width: 100%;
     height: 80px;
}

.logo {
     margin: 0 auto;
     width: 400px;
     height: 60px;
}

#logo2 {
     font: 36pt sans-serif;
     color: #333;
     text-align: center;
     text-shadow: 0 0 10px #666;
}

#introText {
     height: 25px;
     width: 400px;
     color: #333;
     font-weight: 300;
     font-size: 18px;
}

.whiteBox {
     background: white;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.introItem {
     margin: 10px auto;
     padding: 10px 0;
}

#services {
     position: absolute;
     font-weight: 300;
     font-size: 20px;
     line-height: 20px;
     width: 255px;
     height: 106px;
     top: 10px;
     right: 0;
}

.divService {
     float: left;
     border-style: solid;
     border-width: 1px;
     margin-right: 10px;
}

.serviceBg {
     width: 40px;
     height: 40px;
     float: left;
     vertical-align: center;
}

.serviceText {
     font-weight: 300;
     font-size: 24px;
     color: #555;
     height: 100px;
     text-align: center;
     margin: 25px 0 0 5px;
     float: left;
     width: 80px;
     padding: 10px 0 0 5px;
     vertical-align: center;
}

#middle {
     clear: both;
     padding-top: 5px;
     overflow: auto;
     color: #333;
     text-align: center;
     margin: 0 15px;
}

.midItem {
     position: relative;
     background: #fff;
     overflow: auto;
     width: 100%;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.middleDivWrapper {
     width: 50%;
     float: left;
}

#divLeft {
     margin-right: 50px;
}

#divRight {
     margin-left: 50px;
}

#divButtonSync {
     clear: both;
     position: fixed;
     width: 64px;
     height: 64px;
     left: 50%;
     top: 50%;
     margin: -32px 0 0 -32px;
     text-align: center;
}

.table {
     margin: 0 auto;
     width: 540px;
     height: auto;
     min-height: 100px;
}

#divGoogle label {
     cursor: pointer;
}

#googleLogin, #googleLogout {
     height: 25px;
}

.highlightError {
     border: 3px solid red;
}

.tableRow {
     position: relative;
     float: left;
     margin: 10px;
     text-align: left;
     overflow: hidden;
     width: 160px;
     height: 160px;
}

.tableRowImg {
     width: 160px;
     height: 160px;
     position: absolute;
     left: 0;
     top: 0;
}

.topItem {
     margin: auto;
     background: #fff;
     text-align: center;
     width: 210px;
     height: 70px;
     border-radius: 6px;
     border: 2px 1px solid #babcbf;
}

.labelbg {
     z-index: 2;
     width: 160px;
     height: 40px;
     background: rgba(0,0,0,0.6);
     position: absolute;
     left: 0;
     top: 120px;
}

.tableRowLabel {
     z-index: 2;
     color: #fff;
     font-size: 10pt;
     position: relative;
     left: 5px;
     top: 2px;
}

.tableHeader {
     background: #fff;
     height: 30px;
     font-weight: 300;
     font-size: 18px;
     padding-top: 5px;
     margin: 0 0 10px;
}

.loading {
     position: absolute;
     display: none;
     left: 50%;
     top: 50%;
     margin: -16px 0 0 -16px;
}
